@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');





/* CHAT STYLES */
* {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  letter-spacing: 0.5px;
}

.ce-chat-list {
  background-color: #2D2C2C !important;
  /* backside of chat */
}

.ce-chats-container {
  background-color: #2D2C2C !important;
  margin-top:25px !important;
  z-index:100 !important;
  /* left chat-container */
}

.ce-active-chat-card {
  background-color: #1a1a1a !important;
  border: 3px solid #fffff1 !important;
  border-bottom: 3px solid #fffff1 !important;
  border-radius: 1px !important;
  color:white !important;
  font-weight:900;
  font-family: 'Noto Sans', sans-serif !important;
  /* left active chat card */
}
.ce-chat-card {
  background-color: #232323 ;
  border-bottom: 1px solid #fffff1 !important;
  border-radius: 1px !important;
  color:white !important;
  font-weight:bolder ;
  font-family: 'Noto Sans', sans-serif !important;
  /* left active chat card*/
}

.ce-chat-subtitle-text {
  color: #E2E2F6 !important; 
  font-weight:normal;
  /* 1 image */
}

.ce-chat-form-container {
  padding-bottom: 20px !important;
  background-color: #464775 !important; 
  color:white;
  font-family: 'Noto Sans', sans-serif !important;
  /* my-chat container */
}

.ce-text-input {
  border-radius: 6px !important;
  border: 1px solid #3b2a50 !important;
  color:black;
  font-family: 'Noto Sans', sans-serif;
  
  /* Add new chat input */
}

.ce-primary-button {
  border-radius: 6px  !important;
  border: 1px white solid !important;
  background-color: #3E3F66 !important;
  position: relative;
  bottom: 2px;
  /* add new chat button */
}
.ce-primary-button:hover{
  border: 2px white solid !important;
  background-color: #292A4D !important;
  /* add new chat button hover*/
}
.ce-danger-button {
  background-color: white !important;
  border-radius: 22px !important;
}

.ce-settings {
  background-color: #2D2C2C !important;
  font-family: 'Noto Sans', sans-serif;
  /* right container */
}

.ce-autocomplete-input {
  border-radius: 6px !important;
  border: 1px solid #3b2a50 !important;
}

.ce-autocomplete-options {
  border-radius: 6px !important;
  border: 1px solid #3b2a50 !important;
  background-color: white !important;
}

.ce-chat-settings-container {
  padding-top: 20px !important;
  /* right top space */
}

.ce-chat-avatars-row {
  display: flex !important;
  padding: 5px;
  /* avatar top right */
}

.ce-person-text {
  font-family: 'Noto Sans', sans-serif;
  color:white;
  font-size:15px !important;
  /* Chat members name on right */
}

.ce-text-input {
  background-color: #464775 !important; 
  color:white;
  margin-bottom:5px;
  /* chatname on right */
}


/* CUSTOM FEED */

.chat-feed {
  height: 100%;
  width: 100%;
  overflow: scroll;
  background-color: #141414;
  font-family: 'Noto Sans', sans-serif;
  /* central container */
}


.chat-title-container {
  width: 100%;
  padding: 8px;
  text-align: center;
  background-color: #464775;
  margin-bottom:15px;
  /* Chess forum container */
}

.chat-title {
  color: white;
  font-weight: 800;
  font-size: 28px;
}

.chat-subtitle {
  color: #E2E2F6;
  font-weight: 400;
  font-size: 14px;
  padding-top: 4px;
}

.message-row {
  float: left;
  width: 100%;
  display: flex;
  margin-left: 24px;
}

.message-block {
  width: 100%;
  display: inline-block;
}

.message-avatar {
  width: 44px;
  height: 44px;
  border-radius: 22px;
  color: white;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 48px;
}

.message {
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  max-width: 60%;
  font-family: 'Noto Sans', sans-serif;
}

.message-image {
  margin-right: 18px;
  object-fit: cover;
  border-radius: 6px;
  height: 30vw;
  width: 10vw;
  max-height: 200px;
  max-width: 200px;
  min-height: 100px;
  min-width: 100px;
  border:1px #E2E2F6 solid;
}

.read-receipts {
  position: relative;
  bottom: 6px;
  /* recipient image */
}

.read-receipt {
  width: 13px;
  height: 13px;
  border-radius: 13px;
  margin: 1.5px;
  margin-left:5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
  /* recipeinet image block */
}

.message-form-container {
  position: absolute;
  bottom: 0px;
  width: calc(100% - 15px);
  margin-top:10px;
  padding: 5px 15px 25px 5px;
  background-color: #141414;
}

.message-form {
  overflow: hidden;
  background-color: #141414;
}

.message-input {
  height: 40px;
  width: calc(100%);
  color:white;
  background-color:#2D2C2C ;
  border-bottom: 2px solid #464775;
  padding: 25px 18px;
  outline: none;
  font-size: 17px;
  font-family: 'Noto Sans', sans-serif;
}

.image-button {
  cursor: pointer;
  padding: 5px 12px;
  height: 100%;
  color:white;
  font-size:22px;
}

.send-button {
  height: 42px;
  padding: 5px 15px;
  cursor: pointer;
  color:white;
  font-size:22px;
}

.send-icon {
  top: 1px;
  position: relative;
}

.picture-icon {
  top: 1px;
  position: relative;
}

